$myfont: 'Hubballi', cursive;
$heading-font: 'Shippori Antique B1', sans-serif;
html{
    background-color: peachpuff;
}

body{
    background-color: peachpuff;
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
}

nav{
    background-color: #f3f3f3;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

ul {
    list-style: none;
    padding: 25px;
    margin: 25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


a {
    font-family: $myfont;
    font-size: 35px;
    text-decoration: none;
    margin: 15px;
    color: black;
    
}

a:hover{
    color: olive;
}

li{
    display: block;

}

.hamburger{
    display: none;
}

.active{
    font-family: $heading-font;
    // background-color: peachpuff;
}


@media screen and (max-width: 500px) {
    ul{
      flex-direction: column;
      display: block;
    }
  }

